* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: cadetblue;
  color: whitesmoke;
}

#app {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#start {
  background-color: rgba(0, 78, 78, 0.5);
  padding: 2em 3em;
}

#start h1 {
  font-size: 2em;
  margin-bottom: 1.5em;
  text-transform: uppercase;
}

#username-form div.form-group {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#username-form input {
  margin-bottom: 1.5em;
}


#game-page {
  display: flex;
  width: 90vw;
  
  background-color: rgba(0, 78, 78, 0.5);
  padding: 2.7em 4em;
}

#game-wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

#game {
background-color: rgba(0, 78, 78, 0.7); 
border: 1px solid whitesmoke;

margin: 1em 2.5em 1em 0;
min-width: 90%;
min-height: 60vh;
}

#virus {
  position: relative;
  display: block;
  width: 4em;
}

#users-board {
  flex-basis: 20%;
  border-left: 1px solid whitesmoke;
  padding: 1em;
}

#users-board li.users {
  list-style: none;
}

.hide {
  display: none !important;
}